CREATE DATABASE [dispatch_ct] ON  PRIMARY 
( NAME = N'dispatch_ct', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\dispatch_ct.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dispatch_ct_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\dispatch_ct_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'dispatch_ct', @new_cmptlevel=90
GO
USE [dispatch_ct]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups 
  WHERE is_default=1 AND name = N'PRIMARY') 
  ALTER DATABASE [dispatch_ct] 
  MODIFY FILEGROUP [PRIMARY] DEFAULT
GO

